body {
    min-width: 347px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

/*.hero-content {
    color: white;
    height: 1200px;
    background-image: linear-gradient(
        45deg,
        #220F33 50%,
        #720987 
    )
}*/
header, main, section, footer, article {
    padding: 8px;

}
header{
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    gap: 10px;
}

.logo  {
    background: linear-gradient(to right, #00E5FE, #FF09E6);
    -webkit-background-clip: text;  /* Para o efeito funcionar no Chrome, Safari, etc */
    background-clip: text;          /* Para outros navegadores modernos */
    color: transparent;
    display: inline-block;          /* Garantir que o gradiente aplique corretamente */

    font-family: "Zen Dots", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.contagem-regressiva {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os blocos */
  }
  
  /* Bloco de tempo (Dias, Horas, Minutos, Segundos) */
  .tempo {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center;    /* Centraliza o conteúdo */
  }
  
  /* Rótulos (Dias, Horas, Minutos, Segundos) */
  .label {
    color: white;
    font-size: 10px; /* Tamanho do texto superior */
    text-transform: uppercase; /* Letras maiúsculas */
  }
  
  /* Números da contagem */
  .tempo span:last-child {
    background: #00E5FF;   /* Fundo azul */
    color: #000;           /* Texto preto */
    padding: 7px 13px;
    border-radius: 8px;

    font-size: 20px; /* Tamanho do número */
    font-weight: bold; /* Negrito */
  }
  
  /* Divisor ":" entre os blocos */
  .divisor {
    font-size: 20px;
    font-weight: bold;
    color: #00E5FF;
  }
  
.menu-header {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;

}
.menu-header  a {
    text-decoration: none;
    color: white;

}

.inscreva-se-header {
    background-color: #D404C0;
    border-radius: 12px;
    padding: 4px 16px;
}


.secao-destaque {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center; 
    min-height:100vh;
    background-image: linear-gradient(100deg, #220F33, #720987);
    color: white;
}

.secao-destaque img {
    max-width: 506px;
}

/*.hero-content {
    min-width: 504px;
    max-width: 687px;
    
}*/

.hero-content h1 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 47px;
}

.hero-content p {
    font-size: 16px;
    max-width: 640px;
    margin-bottom: 30px;


}

.inscreva-se {
    margin-top: 20px;
    font-size: 20px;
    font-weight:600;
    color: white;
    border-radius: 20px;
    background-color: #D404C0;
    padding: 10px 40px;
    border: none;
}

/*@media (max-width: 767px) {
    header, main, section, footer, article {
        padding: 0px 20px;
    }

    header {
        justify-content: left;
        gap: 30px;
    }
    .logo {
        font-size: 20px;
    }

    .tempo span:last-child{
        font-size: 16px;
    }
    .label {
        font-size: 8px; 
    }
    .menu-header {
        display: none;
    }
}*/

@media (max-width: 767px) {
    main, section, footer, article {
        padding: 20px;
    }
        .menu-header {
        display: none;
    }

    .contagem-regressiva {
        display: flex;
        align-items: center;
        gap: 10px; /* Espaçamento entre os blocos */
    }
  
    /* Bloco de tempo (Dias, Horas, Minutos, Segundos) */
    .tempo {
        display: flex;
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: center;    /* Centraliza o conteúdo */
    }
    
    /* Rótulos (Dias, Horas, Minutos, Segundos) */
    .label {
        color: white;
        font-size: 10px; /* Tamanho do texto superior */
        text-transform: uppercase; /* Letras maiúsculas */
    }
    
    /* Números da contagem */
    .tempo span:last-child {
        background: #00E5FF;   /* Fundo azul */
        color: #000;           /* Texto preto */
        padding: 3px 6px;
        border-radius: 4px;

        font-size: 14px; /* Tamanho do número */
        font-weight: bold; /* Negrito */
    }
    
    /* Divisor ":" entre os blocos */
    .divisor {
        margin-top: 15px;
        font-size: 14px;
        font-weight: bold;
        color: #00E5FF;
    }

    header {
        display: block;
        text-align: center;
    }

    .secao-destaque {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0px;
    }


    .secao-destaque img {
        width: 344px;
    }

    .hero-content{
        display: block;
        max-width: 507px;


    }

    .hero-content h1 {
        text-align: left;
        margin-bottom: 20px;
        font-size: 32px;
    }
    
    .hero-content p {
        font-size: 16px;
        text-align: justify;
    
    }
    
    .inscreva-se {
        font-size: 16px;
        margin-bottom: 30px;
        margin-top: 0px;
        width: 100%;
        border-radius: 15px;
        padding: 13px 0px;
    
    }

    .logo {
        margin: 0px;
    }


    .contagem-regressiva {
        display: inline-flex;
        align-items: center;
    }

    .sobre {
        background-color: #210127;
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


    }

    .box-sobre {
        border: 1px solid #78078E;
        border-radius: 15px;
        margin: 20px 0px;
        padding: 0px 20px;
        max-width: 507px;


    }

    .box-sobre h2 {
        text-align: center;
    }

    .box-sobre p {
        text-align: justify;
        font-size: 16px;
    }

    .box-sobre span {
        color: #FF09E6;
    }

    .palestrante {
        background-color: #19011d;
        color: white;
        display: flex;
        justify-content: center;


    }

    .box-palestrante {
        margin: 20px 0px;
        max-width: 507px;

    }

    .box-palestrante img {
        display: flex;
        margin: auto;
        width: 250px;

    }

    .info-palestrante {
        max-width: 507px;

    }
    .info-palestrante h2 {
        display: none;
    }

    .info-palestrante h3 {
        font-size: 24px;
        color: #00E5FF;
    }

    .cargo {
        font-weight: 300;
        font-size: 14px;
    }

    .bio {
        text-align: justify;
        font-size: 16px;
    }

    .inscricao {
        background-color: #7103a0;
        color: white;
        display: flex;
        justify-content: center;
    }

    .box-inscricao {
        max-width: 507px;

    }

    .titulo-inscricao {
        font-size: 32px;
        font-weight: bold;
    }

    .descricao-inscricao {
        font-size: 16px;
        font-weight: 400;
    }

    .nota-inscricao{
        font-size: 10px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    form {
        max-width: 300px;
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 10px;
        height: 20px;
        border-radius: 7px;
        border: none;
    }

    input::placeholder {
        font-size: 11px;
        padding-left: 5px;
    }

    form button {
                margin-bottom: 10px;
                padding: 8px;
        border-radius: 8px;
        border: none;
        color: white;
        background-color: #FF09E6;
        font-size: 16px;
        font-weight: bold;

    }
}

    /* Para telas de tablets em modo retrato */
    @media (min-width: 768px) and (max-width: 1024px) {
        /* Estilos para tablets */
    }