body {
    min-width: 280px;
    font-family: "Poppins", sans-serif;
    margin: 0px;
    padding: 0px;
}

/*.hero-content {
    color: white;
    height: 1200px;
    background-image: linear-gradient(
        45deg,
        #220F33 50%,
        #720987 
    )
}*/
header, main, section, footer, article {
    padding: 0px 50px;

}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    gap: 10px;
}

.logo  {
    background: linear-gradient(to right, #00E5FE, #FF09E6);
    -webkit-background-clip: text;  /* Para o efeito funcionar no Chrome, Safari, etc */
    background-clip: text;          /* Para outros navegadores modernos */
    color: transparent;
    display: inline-block;          /* Garantir que o gradiente aplique corretamente */

    font-family: "Zen Dots", sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.contagem-regressiva {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os blocos */
  }
  
  /* Bloco de tempo (Dias, Horas, Minutos, Segundos) */
  .tempo {
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center;    /* Centraliza o conteúdo */
  }
  
  /* Rótulos (Dias, Horas, Minutos, Segundos) */
  .label {
    color: white;
    font-size: 10px; /* Tamanho do texto superior */
    text-transform: uppercase; /* Letras maiúsculas */
  }
  
  /* Números da contagem */
  .tempo span:last-child {
    background: #00E5FF;   /* Fundo azul */
    color: #000;           /* Texto preto */
    padding: 7px 13px;
    border-radius: 8px;

    font-size: 20px; /* Tamanho do número */
    font-weight: bold; /* Negrito */
  }
  
  /* Divisor ":" entre os blocos */
  .divisor {
    font-size: 20px;
    font-weight: bold;
    color: #00E5FF;
  }
  
.menu-header {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 20px;

}
.menu-header  a {
    text-decoration: none;
    color: white;

}

.inscreva-se-header {
    background-color: #D404C0;
    border-radius: 12px;
    padding: 4px 16px;
}


.secao-destaque {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center; 
    min-height:100vh;
    background-image: linear-gradient(100deg, #220F33, #720987);
    color: white;
}

.secao-destaque img {
    max-width: 506px;
}

.hero-content {
    /*min-width: 504px;
    max-width: 687px;
    */
}

.hero-content h1 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 47px;
}

.hero-content p {
    font-size: 16px;
    max-width: 640px;
    margin-bottom: 30px;


}

.inscreva-se {
    margin-top: 20px;
    font-size: 20px;
    font-weight:600;
    color: white;
    border-radius: 20px;
    background-color: #D404C0;
    padding: 10px 40px;
    border: none;
}

@media (max-width: 767px) {
    header, main, section, footer, article {
        padding: 0px 20px;
    }

    header {
        justify-content: left;
        gap: 30px;
    }
    .logo {
        font-size: 20px;
    }

    .tempo span:last-child{
        font-size: 16px;
    }
    .label {
        font-size: 8px; /* Tamanho do texto superior */
    }
    .menu-header {
        display: none;
    }
}

@media (max-width: 489px) {
    header, main, section, footer, article {
        padding: 8px;
    }

    header {
        display: block;
        text-align: center;
    }

    .secao-destaque img {
        min-width: 344px;
        max-width: 473px;
    }

    .hero-content h1 {
        margin-bottom: 20px;
        font-size: 32px;
    }
    
    .hero-content p {
        font-size: 12px;
    
    }
    
    .inscreva-se {
        font-size: 16px;
        margin-top: 0px;
    }

    .logo {
        margin: 0px;
    }


    .contagem-regressiva {
        display: inline-flex;
        align-items: center;
    }



}



/* Para telas de tablets em modo retrato */
@media (min-width: 768px) and (max-width: 1024px) {
    /* Estilos para tablets */
}